:root {
  --color-Primary: #eb2f64;
  --Primary-light: #FF3366;
  --Primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #B0C4E7;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.user__image {
  border-radius: 50%;
  margin-bottom: 2rem;
  width: 40%;
}

.user__welcome {
  color: #B0B0B0;
  font-size: 1rem;
  font-weight: 400;
}

.user__name {
  color: #707070;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav li {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6rem 5rem;
  font-size: 1.3rem;
  color: #B0B0B0;
}

.nav li .text-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  text-align: left;
  margin-left: 2rem;
}

.nav li .i {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
}

.nav li .active {
  color: #9FB3DE;
  font-weight: 700;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 5rem;
}

.head__feed {
  font-size: 2rem;
  color: #707070;
  font-weight: 700;
}

.head__sort {
  font-size: 1.3rem;
  color: #B0B0B0;
  font-weight: 500;
}

.head__sort span {
  padding-right: .5rem;
}

.info {
  font-size: 1.4rem;
  color: #B0B0B0;
  font-weight: 500;
  background-color: #fff;
  height: 6rem;
  width: 90%;
  margin: 2.5rem auto;
  border-top: 2rem solid #fff;
}

.info span {
  margin-left: 2rem;
}

.post {
  background-color: #fff;
  margin: 3rem 4.9rem;
  -webkit-box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.post__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.post__image {
  border-radius: 50%;
  margin-top: 2rem;
}

.post__info {
  margin-top: 2rem;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
  font-size: .8rem;
  color: #B0B0B0;
}

.post__info .name {
  font-size: 1rem;
  color: #9FB3DE;
  font-weight: 700;
}

.post__info span {
  margin-left: .5rem;
}

.post__content {
  margin-left: 2rem;
  text-align: justify;
  font-size: 1.4rem;
  color: #484848;
  font-weight: 500;
  width: 92%;
  margin-bottom: 2.5rem;
}

.post__content .pic {
  background-size: cover;
  height: 30vh;
  width: 90%;
  margin-left: 6rem;
}

.post__reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2rem;
  color: #507AC6;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.post__comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  padding: 2rem 0;
  border-top: 1px solid #D3D3D3;
  font-size: 1.1rem;
  font-weight: 500;
  color: #B0B0B0;
}

.post__smiley {
  font-size: 1.3rem;
}

.post__smiley .first {
  margin-right: 2rem;
}

.search {
  margin: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1.2px solid #D3D3D3;
  font-size: 1.3rem;
  font-weight: 600;
  color: #B0B0B0;
}

.search span {
  margin-left: 2rem;
}

.attendance {
  margin: 1.5rem 3rem;
}

.attendance p {
  padding-bottom: 2rem;
  font-size: 1.6rem;
  color: #535c68;
  font-weight: 600;
}

.attendance__cars {
  width: 90%;
  padding: .9rem 1.3rem;
  background-color: #edf0f5;
  border: none;
  color: #535c68;
  font-size: 1.4rem;
  font-weight: 500;
}

.attendance__btn {
  width: 70%;
  padding: 1.2rem 1.3rem;
  margin-left: 3rem;
  border-radius: 3px;
  border-style: none;
  background-color: #507AC6;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.birthday {
  margin: 0 2.5rem;
  padding-top: 6rem;
  border-top: 1.2px solid #D3D3D3;
  padding-bottom: 2.1rem;
  border-bottom: 1.2px solid #D3D3D3;
}

.birthday .heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #535c68;
  padding-bottom: 1rem;
}

.birthday__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 2.5rem;
}

.birthday__image {
  border-radius: 50%;
}

.birthday__info {
  -webkit-transform: translateX(-7.6rem);
          transform: translateX(-7.6rem);
  font-weight: 600;
  font-size: 1rem;
  color: #535c68;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #edf0f5;
  position: relative;
}

.row1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.row2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.row3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=main.css.map */